html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

input:focus {
  outline: none;
}

<<<<<<< HEAD
.app {
  font-family: "Roboto", sans-serif;
}

=======
>>>>>>> 2373e160719c6c352b8694477ab95ffea123c5ec
h1 {
  font-style: normal;
  font-weight: bold !important;
  font-size: 36px;
  line-height: 42px;
  font-family: Poppins !important;
  color: #ffffff;
}
